* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.header {
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  padding: 0.5rem 1rem;
}

.nav {
  display: flex;
  justify-content: center;
  background-color: blue; /* Centrar menú en web */
}

.nav-links {
  list-style: none;
  display: flex;
  flex-wrap: wrap; /* Para que los links bajen de línea en móvil */
  gap: 1rem;
  justify-content: center;
  align-items: center; 
  background-color: aqua;
}

.nav-links li a {
  text-decoration: none;
  color: #333;
  padding: 0.5rem 0.7rem;
  transition: background 0.2s, color 0.2s;
  display: block;
}

.nav-links li a:hover {
  background-color: #f0f0f0;
  border-radius: 5px;
}



/* RESPONSIVE PARA MÓVIL */
@media (max-width: 768px) {
  .nav-links {
    flex-direction: column; /* Links verticales en móvil */
    gap: 0.5rem;
  }

  .nav-links li a {
    padding: 0.7rem 1rem;
  }
}