<div class="login-container">
    <h2>Iniciar Sesión</h2>
    <form (ngSubmit)="login()">
        <div>
            <label for="Nombre">Usuario:</label>
            <input type="text" id="Nombre" [(ngModel)]="Nombre" name="Nombre" required />
        </div>

        <div>
            <label for="Password">Contraseña:</label>
            <input type="Password" id="Password" [(ngModel)]="Password" name="Password" required />
        </div>

        <button type="submit">Entrar</button>
    </form>
</div>

<div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>
